@model RssFeeder.Mvc.Models.SiteParserModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Site Parser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" class="form-control" value="@Guid.NewGuid().ToString()" />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SiteName" class="control-label"></label>
                <input asp-for="SiteName" class="form-control" />
                <span asp-validation-for="SiteName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArticleSelector" class="control-label"></label>
                <input asp-for="ArticleSelector" class="form-control" />
                <span asp-validation-for="ArticleSelector" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParagraphSelector" class="control-label"></label>
                <input asp-for="ParagraphSelector" class="form-control" />
                <span asp-validation-for="ParagraphSelector" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parser" class="control-label"></label>
                <input asp-for="Parser" class="form-control" />
                <span asp-validation-for="Parser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
