<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr3.Runtime" version="3.5.1" targetFramework="net452" />
  <package id="CommandLineParser" version="2.2.1" targetFramework="net452" />
  <package id="HtmlAgilityPack" version="1.8.5" targetFramework="net452" userInstalled="true" />
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="MarkupSanitizer" version="1.0.0.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
  <package id="StringTemplate3" version="3.5.1" targetFramework="net452" />
</packages>