@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to RssFeeder</h1>
    <p>Providing RSS feeds for sites that don't offer one.</p>
</div>
<div class="text-left">
    <h2>Available feeds</h2>
    <ul>
        <li>The Drudge Report <a href='https://feedly.com/i/subscription/feed%2Fhttps%3A%2F%2Frssfeedermvc.azurewebsites.net%2Fapi%2Frss%2Fdrudge-report'  target='blank'><img id='feedlyFollow' src='http://s3.feedly.com/img/follows/feedly-follow-rectangle-volume-medium_2x.png' alt='follow us in feedly' width='71' height='28'></a> <a href="https://rssfeedermvc.azurewebsites.net/api/rss/drudge-report"><img src="https://rssfeedermvc.azurewebsites.net/feed-icon-28x28.png" width='28' height='28'> Feed</a></li>
        <li>Eagle Slant <a href='https://feedly.com/i/subscription/feed%2Fhttps%3A%2F%2Frssfeedermvc.azurewebsites.net%2Fapi%2Frss%2Feagle-slant'  target='blank'><img id='feedlyFollow' src='http://s3.feedly.com/img/follows/feedly-follow-rectangle-volume-medium_2x.png' alt='follow us in feedly' width='71' height='28'></a> <a href="https://rssfeedermvc.azurewebsites.net/api/rss/eagle-slant"><img src="https://rssfeedermvc.azurewebsites.net/feed-icon-28x28.png" width='28' height='28'> Feed</a></li>
    </ul>
</div>
