@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to RssFeeder</h1>
    <p>Providing RSS feeds for sites that don't offer one.</p>
    <h2>Available feeds</h2>
    <ul>
        <li>The Drudge Report <a href="https://rssfeedermvc.azurewebsites.net/api/rss/drudge-report">Feed</a></li>
        <li>Eagle Slant <a href="https://rssfeedermvc.azurewebsites.net/api/rss/eagle-slant">Feed</a></li>
    </ul>
</div>
